
.DS_Store
.idea/vcs.xml
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/project-template.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/description.html
.idea/description.html
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
.idea/uiDesigner.xml
.idea/vcs.xml
pangit.iml
original/.DS_Store
